 .post-container {
        height: 355px;
        width: 245px;
        /* margin: 10px;  */
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
}
    
.post-container img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        /* margin-bottom:10px; */
}
.post-container:hover{
        background-color: rgb(233, 228, 228);
}
    
.post-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
}
    
.title-and-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;

}
    
.title-and-rating{
        height: 40px;
        /* width: 80px; */
        
}
    
.estimated-time {
        font-size: 22px;
        color: #FE4500;
        margin-top: auto; 
}
.rating-info{
        display: flex;
        align-items: center;
}
.rating-info span{
        margin-left:10px;
}
.like-button{
        background-color: white;
        border-radius:3px;
        border: 1px solid  #ff4d4d;
    }
    .like-button:hover{
        background-color: rgb(234, 229, 229);
    }
    .like-button:active{
        background-color: rgb(178, 173, 173);
    }
    .bottom-post{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
    .delete-button {
        background-color: white;
        color: #ff4d4d;
        border: 2px solid #ff4d4d; 
        border-radius: 5px; 
        padding: 8px 12px; 
        font-size: 14px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    }
    
    .delete-button:hover {
        background-color: #e60000; 
        color: white;
    }
    .delete-button:active {
        background-color: #970404; 
        color: white;
    }
    
    
    