.profile-posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 20px;
    /* padding: 16px; */
    margin-top: 40px;
}

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #ffffff, #f1f1f1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-img-and-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-username {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 4px double #dee2e6;
    padding-top: 10px;
  }
  
  .profile-stat {
    font-size: 16px;
    color: #555;
  }
  
  .profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  
  .profile-stat span {
    display: block;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  .follow-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom:20px;
  }
  
  .follow-button:hover {
    background-color: #0056b3;
  }
  .profile-posts-form{
    margin-top:50px;
    /* display: flex;
    width:100%;
    justify-content: center; */
  }